<% title = product['title'] %>
<% price = product['price'] %>
<% image = product['image'] %>

<div class="product">
<div class="preview">
  <img src="http://lorempixel.com/150/150?" alt="">
</div>
<div class="details">
  <div class="name">
    <%= title %>
  </div>
  <div class="price">
    <%= price %>
  </div>
</div>
</div>